{% extends "layouts/base.html" %}

{% block head_extensions %}
<meta name="description" content="About me, Sudhir Attri" />
{% endblock head_extensions %}

{% block content %}

<div class="padded-content container">
  <div class="home-description">
    Hi, I am a student at IIIT Delhi doing my undergraduate studies in the CSAM program from 2018. I aspire to become a web developer proficient in designing cutting-edge web pages/apps and backend systems.
    <br />
    I am also interested in Data Science, algorithms, and Semantic web. I am passionate about Game Development and Computer Graphics and ready to explore different domains in future.
  </div>
</div>

<div class="feature-list">
  <div class="feature-container">
    <div class="feature-text">
      <h2 class="feature-title">About Me</h2>
      <div class="feature-description">
        A Software engineer with wide range of skills and experience
        <ul class="feature-sublist">
          <li><b>Frontend Web Dev:</b> 
            Expertise in frontend developemnt - HTML, CSS (and SCSS), React, NextJs, Angular, WebGL
          </li>
          <li><b>Backend Web Dev:</b> 
            Experienced developer in NodeJs, Express, Golang, Django and Apache
          </li>
          <li><b>Databases :</b> 
            SQL, MongoDB, ORMs, Redis, SPAQL, Fuseki, RDF specifications
          </li>
          <li><b>Languages and Frameworks :</b> 
            (In decreasing order of proficiency) - Python, Javascript, C, C++, , Golang, Rust, Java
          </li>
        </ul>
      </div>
    </div>
    <div class="feature-image">
      <img src="assets/sudhir_photo.jpg" class="feature-img" style="max-width: 90%; max-height: 90%;"
        alt="ECS code" />
    </div>
  </div>
  <div class="feature-container">
    <div class="feature-image">
      <img src="assets/iiitd_photo.jpg" class="feature-img" style="max-width: 90%; max-height: 90%;"
        alt="ECS code" />
    </div>
    <div class="feature-text">
      <br />
      <h2 class="feature-title">Work Experience</h2>
      <div class="feature-description">
        Education and work experience
        <ul class="feature-sublist">
          <li><b>Indraprastha Institute of Information Technology, Delhi:</b> 
            Bachelor of Technology - BTech, Computer Science and Applied Mathematics
            <br />
            <i>(Aug 2018- May 2022)</i>
          </li>
          <li><b>Little Black Book (LBB):</b> 
            Full Stack Engineer Internship
            <br />
            <i>(May 2021 - July 2021)</i>
          </li>
          <li><b>Knowledgeable Computing and Reasoning Lab (KraCr):</b> 
            Undergraduate Student Researcher
            <br />
            <i>(Dec 2021 - Present)</i>
          </li> 
        </ul>
      </div>
    </div>
  </div>
</div>

<br />

<div class="padded-content container">
  <div class="home-description">
    Some Projects
  </div>
</div>

<div class="card-list padded-content">
  <a class="card" href="https://github.com/sudhirattri/saqi-platform">
    <div class="card-image">
        <img src="/assets/github.svg" class="centered-card-image community-icon" alt="Github logo" />
    </div>
    <div class="card-text">
        <div class="card-title">
            Social AQI - (SAQI)
        </div>
        <div class="card-subtitle">
          github.com/sudhirattri/saqi-platform
        </div>
        <div class="card-description">
          Developing a structured platform for public access of air quality data in the form of knowledge graphalong with other relevant data sources as part of the semantic web, for applications involving socialscientists, ML researchers and other academic research.
        </div>
    </div>
  </a>

  <a class="card" href="https://github.com/oshhh/Go-Tourism-And-Services">
    <div class="card-image">
        <img src="/assets/github.svg" class="centered-card-image community-icon" alt="Github logo" />
    </div>
    <div class="card-text">
        <div class="card-title">
          Online tourism platform - Go : Tourism and Services
        </div>
        <div class="card-subtitle">
          github.com/oshhh/Go-Tourism-And-Services
        </div>
        <div class="card-description">
          A tourism enteric E-commerce website, using nodeJs based web server with angular js mvc architectureand an SQL server for database.
        </div>
    </div>
  </a>

  <a class="card" href="https://github.com/sudhirattri/PlantvsZombies-JavaFX">
    <div class="card-image">
        <img src="/assets/github.svg" class="centered-card-image community-icon" alt="Github logo" />
    </div>
    <div class="card-text">
        <div class="card-title">
          JavaFX PC game (Plant vs Zombies clone)
        </div>
        <div class="card-subtitle">
          github.com/sudhirattri/PlantvsZombies-JavaFX
        </div>
        <div class="card-description">
          2D game mimicking the popular plant vs zombie game as part of learning OOP concepts in java.
        </div>
    </div>
  </a>

  <a class="card" href="https://drive.google.com/file/d/1JjjNeOefrVE_7LE1iMYLQka10H7iT5Zb/view?usp=sharing">
    <div class="card-image">
        <img src="/assets/pdf_icon.svg" class="centered-card-image community-icon" alt="Github logo" />
    </div>
    <div class="card-text">
        <div class="card-title">
          Covid-19 Fake News Detection
        </div>
        <div class="card-subtitle">
          Keywords: Covid-19, Corona, Infodemic, Fake News Detection
        </div>
        <div class="card-description">
          Predicting fake news related to covid as part of constraintAAAI@2021 competition, achieved 0.97 f1score (top scorer 0.98 f1)
        </div>
    </div>
  </a>

  <a class="card" href="https://github.com/sudhirattri/gsplay">
    <div class="card-image">
        <img src="/assets/github.svg" class="centered-card-image community-icon" alt="Github logo" />
    </div>
    <div class="card-text">
        <div class="card-title">
          GSplay
        </div>
        <div class="card-subtitle">
          github.com/sudhirattri/gsplay
        </div>
        <div class="card-description">
          Implentation of online 2D fragment shader editor, much like shadertoy using threejs and angular (angular learning self project)
            Additional features added apart from regular shaderToy - orbit controls, dynamic resolution, separate post process shader.
        </div>
    </div>
  </a>

</div>
{% endblock content %}